/* Video styling */
.videoContainer {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.video-fade-out {
  opacity: 0.5;
}

.left-button {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  padding: 10px 20px; /* Optional, for better button sizing */
  color: white; /* Optional, for better visibility */
  background-color: rgba(0, 0, 0, 0.5); /* Optional, adds some transparency */
  border: none;
  cursor: pointer;
}

.middle-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px; /* Optional, for better button sizing */
  color: white; /* Optional, for better visibility */
  background-color: rgba(0, 0, 0, 0.5); /* Optional, adds some transparency */
  border: none;
  cursor: pointer;
}
.right-button {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  padding: 10px 20px; /* Optional, for better button sizing */
  color: white; /* Optional, for better visibility */
  background-color: rgba(0, 0, 0, 0.5); /* Optional, adds some transparency */
  border: none;
  cursor: pointer;
}

.opacity0 {
  visibility: hidden;
  opacity: 0; /* Full opacity by default */
  transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}

.button-visible {
  opacity: 1; /* Set the desired opacity */
  visibility: visible;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
